/__init__.pyc
/gdrive.pyc
/authorization.pyc
/cache.pyc
/cloudservice.pyc
/crashreport.pyc
/downloadfile.pyc
/encryption.pyc
/file.pyc
/folder.pyc
/gPlayer.pyc
/gSpreadsheets.pyc
/gdrive_api2.pyc
/kodi_common.pyc
/mediaurl.pyc
/package.pyc
/settings.pyc
/tvWindow.pyc
