<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30008">
    	<setting id="user_agent" type="text" label="30004" default="Mozilla/4.0 (compatible; MSIE 5.5; Windows NT)" />

        <setting id="gdrive_numaccounts" type="integer" hidden="true" default="10" label="30022" />
        <setting id="accounts" type="labelenum" values="1|2|3|4|5|6|7|8|9|10" default="1" label="" />

        <setting id="gdrive1_username" type="text" label="30001" visible="eq(-1,0)" default="" />
        <setting id="gdrive1_password" type="text" label="30002" visible="eq(-2,0)" option="hidden" default="" />
        <setting id="gdrive1_save_auth_token" type="bool" label="30005" visible="eq(-3,0)" default="true" />
        <setting id="gdrive1_type" type="enum" label="30010" visible="eq(-4,0)" values="ClientLogin" default="0" />
        <setting id="gdrive1_prev_username" type="text" label="30001" default="" visible="false" />


        <setting id="gdrive2_username" type="text" label="30001" visible="eq(-6,1)" default="" />
        <setting id="gdrive2_password" type="text" label="30002" visible="eq(-7,1)" option="hidden" default="" />
        <setting id="gdrive2_save_auth_token" type="bool" label="30005" visible="eq(-8,1)" default="true" />
        <setting id="gdrive2_type" type="enum" label="30010" visible="eq(-9,1)" values="ClientLogin" default="0" />
        <setting id="gdrive2_prev_username" type="text" label="30001" default="" visible="false" />


        <setting id="gdrive3_username" type="text" label="30001" visible="eq(-11,2)" default="" />
        <setting id="gdrive3_password" type="text" label="30002" visible="eq(-12,2)" option="hidden" default="" />
        <setting id="gdrive3_save_auth_token" type="bool" label="30005" visible="eq(-13,2)" default="true" />
        <setting id="gdrive3_type" type="enum" label="30010" visible="eq(-14,2)" values="ClientLogin" default="0" />
        <setting id="gdrive3_prev_username" type="text" label="30001" default="" visible="false" />


        <setting id="gdrive4_username" type="text" label="30001" visible="eq(-16,3)" default="" />
        <setting id="gdrive4_password" type="text" label="30002" visible="eq(-17,3)" option="hidden" default="" />
        <setting id="gdrive4_save_auth_token" type="bool" label="30005" visible="eq(-18,3)" default="true" />
        <setting id="gdrive4_type" type="enum" label="30010" visible="eq(-19,3)" values="ClientLogin" default="0" />
        <setting id="gdrive4_prev_username" type="text" label="30001" default="" visible="false" />


        <setting id="gdrive5_username" type="text" label="30001" visible="eq(-21,4)" default="" />
        <setting id="gdrive5_password" type="text" label="30002" visible="eq(-22,4)" option="hidden" default="" />
        <setting id="gdrive5_save_auth_token" type="bool" label="30005" visible="eq(-23,4)" default="true" />
        <setting id="gdrive5_type" type="enum" label="30010" visible="eq(-24,4)" values="ClientLogin" default="0" />
        <setting id="gdrive5_prev_username" type="text" label="30001" default="" visible="false" />


        <setting id="gdrive6_username" type="text" label="30001" visible="eq(-26,5)" default="" />
        <setting id="gdrive6_password" type="text" label="30002" visible="eq(-27,5)" option="hidden" default="" />
        <setting id="gdrive6_save_auth_token" type="bool" label="30005" visible="eq(-28,5)" default="true" />
        <setting id="gdrive6_type" type="enum" label="30010" visible="eq(-29,5)" values="ClientLogin" default="0" />
        <setting id="gdrive6_prev_username" type="text" label="30001" default="" visible="false" />


        <setting id="gdrive7_username" type="text" label="30001" visible="eq(-31,6)" default="" />
        <setting id="gdrive7_password" type="text" label="30002" visible="eq(-32,6)" option="hidden" default="" />
        <setting id="gdrive7_save_auth_token" type="bool" label="30005" visible="eq(-33,6)" default="true" />
        <setting id="gdrive7_type" type="enum" label="30010" visible="eq(-34,6)" values="ClientLogin" default="0" />
        <setting id="gdrive7_prev_username" type="text" label="30001" default="" visible="false" />


        <setting id="gdrive8_username" type="text" label="30001" visible="eq(-36,7)" default="" />
        <setting id="gdrive8_password" type="text" label="30002" visible="eq(-37,7)" option="hidden" default="" />
        <setting id="gdrive8_save_auth_token" type="bool" label="30005" visible="eq(-38,7)" default="true" />
        <setting id="gdrive8_type" type="enum" label="30010" visible="eq(-39,7)" values="ClientLogin" default="0" />
        <setting id="gdrive8_prev_username" type="text" label="30001" default="" visible="false" />


        <setting id="gdrive9_username" type="text" label="30001" visible="eq(-41,8)" default="" />
        <setting id="gdrive9_password" type="text" label="30002" visible="eq(-42,8)" option="hidden" default="" />
        <setting id="gdrive9_save_auth_token" type="bool" label="30005" visible="eq(-43,8)" default="true" />
        <setting id="gdrive9_type" type="enum" label="30010" visible="eq(-44,8)" values="ClientLogin" default="0" />
        <setting id="gdrive9_prev_username" type="text" label="30001" default="" visible="false" />


        <setting id="gdrive10_username" type="text" label="30001" visible="eq(-46,9)" default="" />
        <setting id="gdrive10_password" type="text" label="30002" visible="eq(-47,9)" option="hidden" default="" />
        <setting id="gdrive10_save_auth_token" type="bool" label="30005" visible="eq(-48,9)" default="true" />
        <setting id="gdrive10_type" type="enum" label="30010" visible="eq(-49,9)" values="ClientLogin" default="0" />
        <setting id="gdrive10_prev_username" type="text" label="30001" default="" visible="false" />

    </category>

    <category label="30009">
        <setting id="sorted" type="enum" label="30054" values="alphabetical|reverse alphabetical|default order" default="0"/>
        <setting label="30037" type="lsep"/>
        <setting id="context_video" type="enum" subsetting="true" label="30022" values="Video only|Video and Music|Everything" default="0"/>
        <setting id="context_music" type="enum" subsetting="true" label="30023" values="Music only|Everything" default="0"/>
    	<setting id="playback_type" type="enum" label="30006" values="Memory Cache|Disk Cache|Stream" default="2"/>
        <setting id="cache_folder" type="folder" subsetting="true" label="30026" visible="eq(-1,1)" default="" />
        <setting id="chunk_size" type="enum" subsetting="true" label="30027" visible="eq(-2,1)" values="32224|32768|262144|1048576" default="2" />
        <setting id="cache_percent" type="slider" subsetting="true" label="30036" default="10" option="percent" visible="eq(-3,1)" range="0,5,100" />
    	<setting id="prompt_quality" type="bool" subsetting="true" label="30019" visible="eq(-4,2)" default="true" />
    	<setting id="preferred_quality" type="enum" subsetting="true" label="30011" visible="eq(-5,2)" values="perfer best (1080,720,<720)|prefer 720 (720,<720,>720)|prefer SD (480,<480)" default="0" />
    	<setting id="preferred_format" type="enum" subsetting="true" label="30012" visible="eq(-6,2)" values="MP4,WebM,flv|MP4,flv,WebM|flv,WebM,MP4|flv,MP4,WebM|WebM,MP4,flv|WebM,flv,MP4" default="0" />
    	<setting id="avoid_codec" type="enum" subsetting="true" label="30013" visible="eq(-7,2)" values="none|VP8/vorbis" default="0"/>
    </category>
    <category label="30034">
        <setting label="30037" type="lsep"/>
        <setting id="context_photo" type="enum" subsetting="true" label="30024" values="Photos only|Music and Photos|Everything" default="0"/>
        <setting id="photo_folder" type="folder" label="30038" default="" />
    </category>
    <category label="30074">
        <setting id="crashreport_enable" type="bool" label="30075" default="false"/>
        <setting id="crashreport_email" type="text" label="30076" default=""/>
        <setting id="crashreport_os" type="enum" label="30078" values="Other|Windows|Linux|Raspberry PI|Android|iOS|Mac OS|Apple TV"/>
        <setting id="crashreport_version"  type="enum" label="30079" values="Other|XBMC 12|XBMC 13|XBMC 13.2|KODI 14|KODI 14 alpha1|KODI alpha2|KODI 14 beta"/>
        <setting label="30077" type="lsep"/>
        <setting label="30071" type="lsep"/>
        <setting label="30072" type="lsep"/>
        <setting id="crashreport_ident"  type="text" label="30080" />
    </category>
</settings>
