<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.gdrive">
		<category id="playback" label="30300" help="">
			<group id="1">
				<setting id="resolution_prompt" type="boolean" label="30301" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="resolution_priority" type="string" label="30302" parent="resolution_prompt" help="">
					<level>0</level>
					<default>Original, 1080P, 720P, 480P, 360P</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="resolution_prompt">false</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=resolution_priority)</data>
					</control>
				</setting>
				<setting id="subtitles_format" type="string" label="30303" help="">
					<level>0</level>
					<default>Subtitles aren't named the same as STRM and are in an isolated folder with STRM</default>
					<constraints>
						<options>
							<option>Subtitles aren't named the same as STRM and are in an isolated folder with STRM</option>
							<option>Subtitles are named the same as STRM</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30303</heading>
					</control>
				</setting>
				<setting id="default_playback_account_name" type="string" label="30304" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=set_playback_account)</data>
					</control>
				</setting>
				<setting id="default_playback_account_id" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading/>
					</control>
					<visible>false</visible>
				</setting>
			</group>
		</category>
		<category id="library" label="30400" help="">
			<group id="1">
				<setting id="movie_watch_time" type="integer" label="30401" help="">
					<level>0</level>
					<default>93</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>100</maximum>
					</constraints>
					<control type="slider" format="percentage">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="episode_watch_time" type="integer" label="30402" help="">
					<level>0</level>
					<default>88</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>100</maximum>
					</constraints>
					<control type="slider" format="percentage">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="library_monitor" type="boolean" label="30403" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="sync" label="30500" help="">
			<group id="1">
				<setting id="thread_count" type="integer" label="30501" help="">
					<level>0</level>
					<default>8</default>
					<constraints>
						<minimum>1</minimum>
						<step>1</step>
						<maximum>100</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="update_library" type="boolean" label="30502" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="sync_root" type="string" label="30503" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=set_sync_root)</data>
					</control>
				</setting>
				<setting id="delete_sync_cache" type="string" label="30504" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=delete_sync_cache)</data>
					</control>
				</setting>
				<setting id="delete_sync_folder" type="string" label="30505" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=delete_sync_folder)</data>
					</control>
				</setting>
			</group>
			<group id="2" label="30506">
				<setting id="strm_prefix" type="string" label="30507" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=set_strm_prefix)</data>
					</control>
				</setting>
				<setting id="strm_suffix" type="string" label="30508" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=set_strm_suffix)</data>
					</control>
				</setting>
				<setting id="encryption_name" type="string" label="30509" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=set_encryption_profile)</data>
					</control>
				</setting>
				<setting id="encryption_id" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading/>
					</control>
					<visible>false</visible>
				</setting>
				<setting id="file_renaming" type="boolean" label="30510" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="folder_renaming" type="boolean" label="30511" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="sync_nfo" type="boolean" label="30512" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="sync_subtitles" type="boolean" label="30513" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="sync_artwork" type="boolean" label="30514" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="sync_strm" type="boolean" label="30515" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="tmdb_language" type="string" label="30516" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=set_tmdb_language)</data>
					</control>
				</setting>
				<setting id="tmdb_region" type="string" label="30517" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=set_tmdb_region)</data>
					</control>
				</setting>
				<setting id="tmdb_adult" type="boolean" label="30518" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="dialog" label="30600" help="">
			<group id="1">
				<setting id="sync_progress_dialog" type="boolean" label="30601" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="file_deletion_dialog" type="boolean" label="30602" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="display_last_sync" type="boolean" label="30603" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="accounts" label="30700" help="">
			<group id="1">
				<setting id="import_accounts" type="string" label="30701" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=import_accounts)</data>
					</control>
				</setting>
				<setting id="export_accounts" type="string" label="30702" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=export_accounts)</data>
					</control>
				</setting>
				<setting id="delete_accounts" type="string" label="30703" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=delete_accounts_file)</data>
					</control>
				</setting>
			</group>
		</category>
		<category id="encryption" label="30800" help="">
			<group id="1">
				<setting id="default_encryption_name" type="string" label="30801" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=set_default_encryption_profile)</data>
					</control>
				</setting>
				<setting id="default_encryption_id" type="string" label="" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading/>
					</control>
					<visible>false</visible>
				</setting>
				<setting id="create_encryption_profile" type="string" label="30802" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=create_encryption_profile)</data>
					</control>
				</setting>
				<setting id="modify_encryption_profile" type="string" label="30803" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=modify_encryption_profile)</data>
					</control>
				</setting>
				<setting id="delete_encryption_profiles" type="string" label="30804" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=delete_encryption_profiles)</data>
					</control>
				</setting>
				<setting id="import_encryption_profiles" type="string" label="30805" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=import_encryption_profiles)</data>
					</control>
				</setting>
				<setting id="export_encryption_profiles" type="string" label="30806" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunPlugin(plugin://plugin.video.gdrive/?mode=export_encryption_profiles)</data>
					</control>
				</setting>
			</group>
		</category>
		<category id="server" label="30900" help="">
			<group id="1">
				<setting id="server_port" type="integer" label="30901" help="">
					<level>3</level>
					<default>8011</default>
					<control type="edit" format="integer">
						<heading>30901</heading>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>